<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node Folder</title>

        <!-- this is the all css and links files -->
        <link rel="stylesheet" href="/static/functions/importcss.css">
    

        
    </head>
    <body>

        <h1>Hello, BackCraft folder</h1>
     
    </body>


    <!-- this is the all scritp file import  -->
    <script type="module" src="/static/functions/importjs.js"></script>
    <%- include('./SockitConfig/script.ejs') %>

</html>